<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SmartPack Intro</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #1a1a1a;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .intro-gif {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <img src="{{ url_for('static', filename='assets/e7b4aebdedfa75a3d6382b09ec81867d.gif') }}" alt="Intro Box" class="intro-gif" />

  <script>
    setTimeout(() => {
      window.location.href = "{{ url_for('home') }}";  // Redirect to index.html after 4 sec
    }, 10300);
  </script>
</body>
</html>
